.preview {
    
}

.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview p,
.preview pre,
.preview table,
.preview ol,
.preview ul {
    margin: 1.5em 0;
}

.preview h1:first-child,
.preview h2:first-child,
.preview h3:first-child,
.preview h4:first-child,
.preview h5:first-child,
.preview p:first-child,
.preview pre:first-child,
.preview table:first-child,
.preview ol:first-child,
.preview ul:first-child {
    margin-top: 0;
}

.preview blockquote {
    border-left:2px solid #009a61;
    background:#f6f6f6;
    font-size:1em;
    padding:10.5px 21px;
}

.preview pre {
    border:none;
    overflow: auto;
    max-height: 400px;
    padding:1em;
    margin:1.5em 0;
    width: 100%;
    background:url("../images/blueprint.png") #f6f6f6;
    background-size:30px,30px;
}

.preview pre > code {
    background:none;
}
.preview .flow {
    overflow: visible;
}
.preview p {
    background-color:transparent;
}
.preview ul li,
.preview ol li
{
    margin: .3em;
}

.preview ul p,
.preview ol p {
    margin: 0;
}

.preview table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.preview table th,
.preview table td {
    border: 1px solid #E6E6E6;
    padding: 5px 8px;
    word-break: normal;
}
.preview table th {
    background-color: #f3f3f3;
}
.preview p.diff {
    background-color: #D9EDF7;
}
.preview h1,h2 {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}
.preview img {
    max-width: 100%;
}